body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f2f2f2;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.product-conatainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    background-color: white;
    width: 250px;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.card h3 {
    font-size: 16px;
    margin: 10px 0;
    height: 40px;
    overflow: hidden;
}

.card p.price {
    font-weight: bold;
    color: green;
    margin: 8px 0;

}

.card button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}